
<table align="center" border="1">

	<tr>
		<th>NAME</th>
		<th>EMAIL</th>
		<th>GENDER</th>
		<th>PROFILE</th>
		<th>ACTION</th>
	</tr>
	<tr>
		<td>{{name}}</td>
		<td>{{email}}</td>
		<td>{{gender}}</td>
		<td><img src="images/{{profile}}" alt="Profile" height="100" width="100"></td>
		<td><a href="logout">Logout</a></td>
	</tr>

</table>